
.bg-green-o-40 {
    background: rgba(195, 230, 232, 0.4)
}

.bg-green-o-15 {
    background: rgba(195, 230, 232, 0.15)
}

.bg-green-o-20 {
    background: rgba(195, 230, 232, 0.2)
}

.bg-green-sec-o-50 {
    background: rgba(245, 254, 255, 0.5)
}

.bg-green-sec-o-08 {
    background: rgba(245, 254, 255, 0.08)
}

.tips {
    border-left: 3px solid #edbc55;

}

.qrcode {
    width: 116px;
    height: 116px;
    border: solid 1px #979797;
    background-color: #d8d8d8;
}

.carousel-indicators li {
    border-radius: 100%;
    width: 10px;
    height: 10px;
    background-color: #c3e6e8;
}


