


.border-test {
    width: 343px;
    border: solid 1px #979797;
    background-color: #d8d8d8;

    @media screen and (min-width: 0) {
        height: 343px;
    }
    @media screen and (min-width: 768px) {
        height: 323px;
    }
}
