@import "variables";
@import "font";

.nav-item-font {
  @extend .sub-title-black;
  @media (min-width: $xs) {
    font-size: 32px;
  }
  @media (min-width: $md) {
    font-size: 60px;
  }
  @media (min-width: $lg) {
    font-size: 22px;
  }
  &:hover{
    color: #dd5564;
  }
}
.nav-item.active{
  &>.nav-link{
    &>.nav-item-font{
      border-bottom: 2px solid rgb(221, 85, 101);
      color: #dd5564;
    }
  }
}

.header-mobile-menu-item {
  @media (min-width: $xs) {
    height: calc(100vh - 64px);
    overflow: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media (min-width: $lg) {
    height: 64px;
  }
}

.shadow-light {
  box-shadow: 0 0 10px 0 rgba(201, 201, 201, 0.3);
}

.navbar-toggler {
  padding: 0;
  margin: 0 32px 0 16px;
  border: none;

  @media screen and (max-width: 767px) {
    margin: 0 16px 0 0;
  }

  &:focus {
    outline: none !important;
  }

  .menu-btn {
    @media (min-width: $xs) {
      width: 24px;
    }
    @media (min-width: $md) {
      width: 32px;
    }
    height: 19px;
    transform: rotate(0deg);
    transition: 0.25s * 2 ease-in-out;
    cursor: pointer;

    span {
      display: block;
      position: absolute;
      height: 1px;
      width: 100%;
      background: #000000;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;

      &:nth-child(1) {
        top: 6.5px;
        transform: rotate(135deg);
      }

      &:nth-child(2) {
        opacity: 0;
        left: -60px;
      }

      &:nth-child(3) {
        top: 6.5px;
        transform: rotate(-135deg);
      }
    }

    &:active {
      span {
        background: #999999;
      }
    }
  }
}

.navbar-toggler {
  &.collapsed {
    .menu-btn {
      span {
        &:nth-child(1) {
          top: 0;
          transform: rotate(0);
        }

        &:nth-child(2) {
          top: 9px;
          opacity: 1;
          left: -0px;
          transform: rotate(0);
        }

        &:nth-child(3) {
          top: 17px;
          transform: rotate(0);
        }
      }
    }
  }
}

.navbar-font {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Open Sans, "microsoft jhenghei", "pingfang TC", "Helvetica Neue", sans-serif;;
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #212121;
}


@media (min-width: $xs) {
  .navbar {
    min-height: 48px;
  }

  .navbar-brand {
    padding: 0 15px;
    height: 48px;
    line-height: 48px;
  }

  .navbar-toggler {
    /* (48px - button height 34px) / 2 = 23px */
    //margin-top: 7px;
    //margin-right: 6px;
    //padding: 9px 10px !important;
  }
}

@media (min-width: $md) {

  .navbar {
    min-height: 64px;
  }

  .navbar-brand {
    padding: 8px 15px;
    height: 64px;
    line-height: 48px;
  }

  .navbar-toggler {
    /* (64px - button height 34px) / 2 = 23px */
    //margin-top: 15px;
    //padding: 9px 10px !important;
  }
}
