.black, .title-black, .sub-title-black, .nav-item-font {
  color: #212121;
}

.deep-blue, .title-blue, .sub-title-blue, .caption-blue {
  color: #2f4864;
}

.red {
  color: #dd5564;
}

.title, .title-black, .title-blue {
  font-size: 32px;
  font-weight: 500;
}

@media screen and (min-width: 0) {
  .sub-title, .sub-title-black, .nav-item-font, .sub-title-blue {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Open Sans, "microsoft jhenghei", "pingfang TC", "Helvetica Neue", sans-serif;
    font-size: 20px;
    font-weight: 500;
  }
}

@media screen and (min-width: 768px) {
  .sub-title, .sub-title-black, .nav-item-font, .sub-title-blue {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Open Sans, "microsoft jhenghei", "pingfang TC", "Helvetica Neue", sans-serif;
    font-size: 22px;
    font-weight: 500;
  }
}

.title-underline {
  border-bottom: 1px solid rgba(195, 230, 232, 0.7);
}

.caption {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Open Sans, "microsoft jhenghei", "pingfang TC", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #999999;
}

.caption-blue {
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Open Sans, "microsoft jhenghei", "pingfang TC", "Helvetica Neue", sans-serif;
  font-size: 14px;
}

.caption-black {
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Open Sans, "microsoft jhenghei", "pingfang TC", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: #000000;
  opacity: 0.7;
}

.description, .desc-black, .desc-blue {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Open Sans, "microsoft jhenghei", "pingfang TC", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}

.desc-black {
  color: #4c4c4c;
}

.desc-blue {
  color: #2f4864;
}

.job-title {
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #212121;
}

@media (min-width: 0) {
  .nav-item-font {
    font-size: 32px;
  }
}

@media (min-width: 768px) {
  .nav-item-font {
    font-size: 60px;
  }
}

@media (min-width: 992px) {
  .nav-item-font {
    font-size: 22px;
  }
}

@media (min-width: 0) {
  .header-mobile-menu-item {
    height: calc(100vh - 64px);
    overflow: scroll;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 992px) {
  .header-mobile-menu-item {
    height: 64px;
  }
}

.shadow-light {
  -webkit-box-shadow: 0 0 10px 0 rgba(201, 201, 201, 0.3);
          box-shadow: 0 0 10px 0 rgba(201, 201, 201, 0.3);
}

.navbar-toggler {
  padding: 0;
  margin: 0 32px 0 16px;
  border: none;
}

@media screen and (max-width: 767px) {
  .navbar-toggler {
    margin: 0 16px 0 0;
  }
}

.navbar-toggler:focus {
  outline: none !important;
}

.navbar-toggler .menu-btn {
  height: 19px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

@media (min-width: 0) {
  .navbar-toggler .menu-btn {
    width: 24px;
  }
}

@media (min-width: 768px) {
  .navbar-toggler .menu-btn {
    width: 32px;
  }
}

.navbar-toggler .menu-btn span {
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  background: #000000;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.navbar-toggler .menu-btn span:nth-child(1) {
  top: 0;
}

.navbar-toggler .menu-btn span:nth-child(2) {
  top: 9px;
}

.navbar-toggler .menu-btn span:nth-child(3) {
  top: 17px;
}

.navbar-toggler .menu-btn:active span {
  background: #999999;
}

.navbar-font {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Open Sans, "microsoft jhenghei", "pingfang TC", "Helvetica Neue", sans-serif;
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #212121;
}

@media (min-width: 0) {
  .navbar {
    min-height: 48px;
  }
  .navbar-brand {
    padding: 0 15px;
    height: 48px;
    line-height: 48px;
  }
  .navbar-toggler {
    /* (48px - button height 34px) / 2 = 23px */
  }
}

@media (min-width: 768px) {
  .navbar {
    min-height: 64px;
  }
  .navbar-brand {
    padding: 8px 15px;
    height: 64px;
    line-height: 48px;
  }
  .navbar-toggler {
    /* (64px - button height 34px) / 2 = 23px */
  }
}
/*# sourceMappingURL=navbar.css.map */