@charset "UTF-8";
@media screen and (min-width: 0) {
  .section-01 {
    height: 201px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 14% 38%;
    background-image: url("../images/標題數字/SM/01-SM.png");
  }
}
@media screen and (min-width: 768px) {
  .section-01 {
    height: 308px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 28% 40%;
    background-image: url("../images/標題數字/MD/01-MD.png");
  }
}
@media screen and (min-width: 992px) {
  .section-01 {
    height: 308px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 27% 42%;
    background-image: url("../images/標題數字/XL、LG/01-XL.png");
  }
}
@media screen and (min-width: 1200px) {
  .section-01 {
    height: 308px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 31% 42%;
    background-image: url("../images/標題數字/XL、LG/01-XL.png");
  }
}

@media screen and (min-width: 0) {
  .section-02 {
    height: 201px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 14% 38%;
    background-image: url("../images/標題數字/SM/02-SM.png");
  }
}
@media screen and (min-width: 768px) {
  .section-02 {
    height: 308px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 28% 40%;
    background-image: url("../images/標題數字/MD/02-MD.png");
  }
}
@media screen and (min-width: 992px) {
  .section-02 {
    height: 308px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 27% 42%;
    background-image: url("../images/標題數字/XL、LG/02-XL.png");
  }
}
@media screen and (min-width: 1200px) {
  .section-02 {
    height: 308px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 31% 42%;
    background-image: url("../images/標題數字/XL、LG/02-XL.png");
  }
}

@media screen and (min-width: 0) {
  .section-03 {
    height: 201px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 14% 38%;
    background-image: url("../images/標題數字/SM/03-SM.png");
  }
}
@media screen and (min-width: 768px) {
  .section-03 {
    height: 308px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 28% 40%;
    background-image: url("../images/標題數字/MD/03-MD.png");
  }
}
@media screen and (min-width: 992px) {
  .section-03 {
    height: 308px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 27% 42%;
    background-image: url("../images/標題數字/XL、LG/03-XL.png");
  }
}
@media screen and (min-width: 1200px) {
  .section-03 {
    height: 308px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 31% 42%;
    background-image: url("../images/標題數字/XL、LG/03-XL.png");
  }
}

@media screen and (min-width: 0) {
  .section-04 {
    height: 201px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 14% 38%;
    background-image: url("../images/標題數字/SM/04-SM.png");
  }
}
@media screen and (min-width: 768px) {
  .section-04 {
    height: 308px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 28% 40%;
    background-image: url("../images/標題數字/MD/04-MD.png");
  }
}
@media screen and (min-width: 992px) {
  .section-04 {
    height: 308px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 27% 42%;
    background-image: url("../images/標題數字/XL、LG/04-XL.png");
  }
}
@media screen and (min-width: 1200px) {
  .section-04 {
    height: 308px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 31% 42%;
    background-image: url("../images/標題數字/XL、LG/04-XL.png");
  }
}

@media screen and (min-width: 0) {
  .section-05 {
    height: 201px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 14% 38%;
    background-image: url("../images/標題數字/SM/05-SM.png");
  }
}
@media screen and (min-width: 768px) {
  .section-05 {
    height: 308px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 28% 40%;
    background-image: url("../images/標題數字/MD/05-MD.png");
  }
}
@media screen and (min-width: 992px) {
  .section-05 {
    height: 308px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 27% 42%;
    background-image: url("../images/標題數字/XL、LG/05-XL.png");
  }
}
@media screen and (min-width: 1200px) {
  .section-05 {
    height: 308px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 31% 42%;
    background-image: url("../images/標題數字/XL、LG/05-XL.png");
  }
}

@media screen and (min-width: 0) {
  .section-06 {
    height: 201px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 14% 38%;
    background-image: url("../images/標題數字/SM/06-SM.png");
  }
}
@media screen and (min-width: 768px) {
  .section-06 {
    height: 308px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 28% 40%;
    background-image: url("../images/標題數字/MD/06-MD.png");
  }
}
@media screen and (min-width: 992px) {
  .section-06 {
    height: 308px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 27% 42%;
    background-image: url("../images/標題數字/XL、LG/06-XL.png");
  }
}
@media screen and (min-width: 1200px) {
  .section-06 {
    height: 308px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 31% 42%;
    background-image: url("../images/標題數字/XL、LG/06-XL.png");
  }
}

@media screen and (min-width: 0) {
  .banner {
    background-image: url("../images/banner/banner-SM.png");
    margin: -16px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 360px;
  }
}
@media screen and (min-width: 768px) {
  .banner {
    background-image: url("../images/banner/banner-MD.png");
    margin-left: -32px;
    margin-right: -32px;
    margin-top: -32px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 680px;
  }
}
@media screen and (min-width: 1200px) {
  .banner {
    background-image: url("../images/banner/banner-XL、LG.png");
    margin-left: -100px;
    margin-right: -100px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 499px;
  }
}

.black, .sub-title-black, .title-black {
  color: #212121;
}

.deep-blue, .caption-blue, .sub-title-blue, .title-blue {
  color: #2f4864;
}

.title, .title-blue, .title-black {
  font-size: 32px;
  font-weight: 500;
}

@media screen and (min-width: 0) {
  .sub-title, .sub-title-blue, .sub-title-black {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Open Sans, "microsoft jhenghei", "pingfang TC", "Helvetica Neue", sans-serif;
    font-size: 20px;
    font-weight: 500;
  }
}
@media screen and (min-width: 768px) {
  .sub-title, .sub-title-blue, .sub-title-black {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Open Sans, "microsoft jhenghei", "pingfang TC", "Helvetica Neue", sans-serif;
    font-size: 22px;
    font-weight: 500;
  }
}

.caption {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Open Sans, "microsoft jhenghei", "pingfang TC", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #999999;
}

.caption-blue {
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Open Sans, "microsoft jhenghei", "pingfang TC", "Helvetica Neue", sans-serif;
  font-size: 14px;
}

.caption-black {
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Open Sans, "microsoft jhenghei", "pingfang TC", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: #000000;
  opacity: 0.7;
}

.description, .desc-blue, .desc-black {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Open Sans, "microsoft jhenghei", "pingfang TC", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.desc-black {
  color: #4c4c4c;
}

.desc-blue {
  color: #2f4864;
}

.circle-title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Open Sans, "microsoft jhenghei", "pingfang TC", "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2f4864;
  border-radius: 25.5px;
  background-color: #e0f6f4;
}

/*# sourceMappingURL=project1.css.map */
