$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
@for $i from 1 through 6 {

  .section-0#{$i} {

    @media screen and (min-width: $xs) {
      height: 201px;
      background-repeat: no-repeat;
      background-size: auto;
      background-position: 14% 38%;
      background-image: url('../images/標題數字/SM/0#{$i}-SM.png');
    }
    @media screen and (min-width: $md) {
      height: 308px;
      background-repeat: no-repeat;
      background-size: auto;
      background-position: 28% 40%;
      background-image: url('../images/標題數字/MD/0#{$i}-MD.png');
    }
    @media screen and (min-width: $lg) {
      height: 308px;
      background-repeat: no-repeat;
      background-size: auto;
      background-position: 27% 42%;
      background-image: url('../images/標題數字/XL、LG/0#{$i}-XL.png');
    }
    @media screen and (min-width: $xl) {
      height: 308px;
      background-repeat: no-repeat;
      background-size: auto;
      background-position: 31% 42%;
      background-image: url('../images/標題數字/XL、LG/0#{$i}-XL.png');
    }
  }

}

.banner {
  @media screen and (min-width: 0) {
    background-image: url("../images/banner/banner-SM.png");
    margin: -16px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 360px;
  }
  @media screen and (min-width: 768px) {
    background-image: url("../images/banner/banner-MD.png");
    margin-left: -32px;
    margin-right: -32px;
    margin-top: -32px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 680px;
  }
  @media screen and (min-width: 1200px) {
    background-image: url("../images/banner/banner-XL、LG.png");
    margin-left: -100px;
    margin-right: -100px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 499px;
  }
}

.black {
  color: #212121;
}

.deep-blue {
  color: #2f4864;
}

.title {
  font-size: 32px;
  font-weight: 500;
  border-bottom: 1px solid rgba(195, 230, 232, 0.7);
}

.sub-title {
  @media screen and (min-width: $xs) {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Open Sans, "microsoft jhenghei", "pingfang TC", "Helvetica Neue", sans-serif;
    font-size: 20px;
    font-weight: 500;
  }
  @media screen and (min-width: $md) {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Open Sans, "microsoft jhenghei", "pingfang TC", "Helvetica Neue", sans-serif;
    font-size: 22px;
    font-weight: 500;
  }
}

.title-black {
  @extend .title;
  @extend .black;
}

.title-blue {
  @extend .title;
  @extend .deep-blue;
}

.sub-title-black {
  @extend .sub-title;
  @extend .black;
}

.sub-title-blue {
  @extend .sub-title;
  @extend .deep-blue;
}

.caption {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Open Sans, "microsoft jhenghei", "pingfang TC", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #999999;
}

.caption-blue {
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Open Sans, "microsoft jhenghei", "pingfang TC", "Helvetica Neue", sans-serif;
  font-size: 14px;
  @extend .deep-blue;
}

.caption-black {
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Open Sans, "microsoft jhenghei", "pingfang TC", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: #000000;
  opacity: 0.7;
}

.description {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Open Sans, "microsoft jhenghei", "pingfang TC", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}

.desc-black {
  @extend .description;
  color: #4c4c4c;
}

.desc-blue {
  @extend .description;
  color: #2f4864;
}

.circle-title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Open Sans, "microsoft jhenghei", "pingfang TC", "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2f4864;
  border-radius: 25.5px;
  background-color: #e0f6f4;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3C%3Fxml%20version%3D%221.0%22%3F%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20id%3D%22Capa_1%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%22512px%22%20height%3D%22512px%22%20viewBox%3D%220%200%20451.846%20451.847%22%20style%3D%22enable-background%3Anew%200%200%20451.846%20451.847%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%20transform%3D%22matrix%28-1%200%200%201%20451.846%200%29%22%3E%3Cg%3E%0A%09%3Cpath%20d%3D%22M345.441%2C248.292L151.154%2C442.573c-12.359%2C12.365-32.397%2C12.365-44.75%2C0c-12.354-12.354-12.354-32.391%2C0-44.744%20%20%20L278.318%2C225.92L106.409%2C54.017c-12.354-12.359-12.354-32.394%2C0-44.748c12.354-12.359%2C32.391-12.359%2C44.75%2C0l194.287%2C194.284%20%20%20c6.177%2C6.18%2C9.262%2C14.271%2C9.262%2C22.366C354.708%2C234.018%2C351.617%2C242.115%2C345.441%2C248.292z%22%20data-original%3D%22%23000000%22%20class%3D%22active-path%22%20data-old_color%3D%22%23000000%22%20fill%3D%22%23C3E6E8%22%2F%3E%0A%3C%2Fg%3E%3C%2Fg%3E%20%3C%2Fsvg%3E");
  background-size: 48px;
  width: 48px;
  height: 48px;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20id%3D%22Capa_1%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%22512px%22%20height%3D%22512px%22%20viewBox%3D%220%200%20451.846%20451.847%22%20style%3D%22enable-background%3Anew%200%200%20451.846%20451.847%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%3Cg%3E%0A%09%3Cpath%20d%3D%22M345.441%2C248.292L151.154%2C442.573c-12.359%2C12.365-32.397%2C12.365-44.75%2C0c-12.354-12.354-12.354-32.391%2C0-44.744%20%20%20L278.318%2C225.92L106.409%2C54.017c-12.354-12.359-12.354-32.394%2C0-44.748c12.354-12.359%2C32.391-12.359%2C44.75%2C0l194.287%2C194.284%20%20%20c6.177%2C6.18%2C9.262%2C14.271%2C9.262%2C22.366C354.708%2C234.018%2C351.617%2C242.115%2C345.441%2C248.292z%22%20data-original%3D%22%23000000%22%20class%3D%22active-path%22%20data-old_color%3D%22%23000000%22%20fill%3D%22%23C3E6E8%22%2F%3E%0A%3C%2Fg%3E%3C%2Fg%3E%20%3C%2Fsvg%3E");
  background-size: 48px;
  width: 48px;
  height: 48px;
}
